@import url('https://fonts.googleapis.com/css2?family=Blinker:wght@100;200;300;400;600;700;800;900&family=Cantarell:ital,wght@0,400;0,700;1,400;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Oxygen:wght@300;400;700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

/*  reset-fonts.css*/
/*     - Define a fonte padrão do projeto */
/*     - Define o tamanho padrão da fonte */
/*  */

body {
    font-family: 
        -apple-system,            /* macOS e iOS (San Francisco) */
        BlinkMacSystemFont,       /* Chrome/Edge no macOS (backup) */
        'Segoe UI',               /* Windows */
        Roboto,                   /* Android */
        Oxygen,                   /* Linux (KDE) */
        Ubuntu,                   /* Linux (GNOME) */
        Cantarell,                /* Linux (GTK) */
        sans-serif;               /* Fallback genérico */
    font-size: 16px;               
    color: #333;
    font-weight: 400;
}


/*  reset-fonts.css
------------------------------------
.roboto-<uniquifier> {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-variation-settings:"wdth" 100;
  }

------------------------------------
.blinker-thin {
  font-family: "Blinker", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.blinker-extralight {
  font-family: "Blinker", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.blinker-light {
  font-family: "Blinker", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.blinker-regular {
  font-family: "Blinker", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.blinker-semibold {
  font-family: "Blinker", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.blinker-bold {
  font-family: "Blinker", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.blinker-extrabold {
  font-family: "Blinker", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.blinker-black {
  font-family: "Blinker", sans-serif;
  font-weight: 900;
  font-style: normal;
}

------------------------------------
.oxygen-light {
  font-family: "Oxygen", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.oxygen-regular {
  font-family: "Oxygen", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.oxygen-bold {
  font-family: "Oxygen", sans-serif;
  font-weight: 700;
  font-style: normal;
}

------------------------------------
.ubuntu-light {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.ubuntu-regular {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.ubuntu-medium {
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.ubuntu-bold {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.ubuntu-light-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.ubuntu-regular-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.ubuntu-medium-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.ubuntu-bold-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-style: italic;
}

------------------------------------
.cantarell-regular {
  font-family: "Cantarell", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.cantarell-bold {
  font-family: "Cantarell", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.cantarell-regular-italic {
  font-family: "Cantarell", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.cantarell-bold-italic {
  font-family: "Cantarell", sans-serif;
  font-weight: 700;
  font-style: italic;
}

------------------------------------
.inter-<uniquifier> {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

*/