.cabecalho__menu-hanburguer {
    width: 24px;
    height: 24px;
    background-image: url(../images/menu.svg);
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block; /* permite ajuste de largura e altura */
}

.cabecalho {
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative; /* libera outras opções de posicionamento */
    top: 100%;
}

.container {
    display: flex;
    align-items: center;
}

.container__imagem {
    padding: 0.1em;
    
}

.lista-menu {
    display: none;  /* retira o lista-menu e não ocupa espaço. */
    position: absolute;
    top: 100%; /* tirou 100% do cabeçalho e ficou pra baixo */
    width: 60vw;
}

.container__botao:checked~.lista-menu { /* combinador CSS acento ~ */
    display: block;
}

.lista-menu__titulo, .lista-menu__item {
    padding: 1em;
    background-color: var(--branco);
}

.lista-menu__titulo {
    color: var(--laranja);
    font-weight: 700;
}

.lista-menu__link {
    color: var(--azul-degrade);
    -webkit-background-clip: text; /* assegura que color será aplicado ao texto */
    /* -webkit-text-fill-color: transparent; */
    background-clip: text;
    text-transform: uppercase;
}

.container__botao {
    display: none;
}