.topicos {
    background-color: var(--azul);
    padding: 1em;
}

.topicos__titulo {
    font-size: 16px;
    font-weight: 300;
    color: var(--branco);
    text-align: center;
    padding: 2em 0;
}

.topicos__lista {
    display: flex;
    justify-content: space-evenly;
    gap: 1em;
}

.topicos__item {
    color: var(--branco);
    background-color: var(--laranja);
    
}