* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


.container {
    display: flex;
    align-items: center;
    height: 100vh;
    justify-content: center;
    background-color: #423636;
    color: aliceblue;
}

